:root{
    --section-pad--:80px;
    --gradient--:linear-gradient(-145deg, rgba(219,138,222,1) 0%, rgba(246,191,159,1) 100%);
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.special-header{
    text-align: center;
    margin-bottom: 100px;

}
@media (max-width:767px) {
    .special-header{
        margin-bottom: 50px;
    }
    
}
.special-header h3{
    font-size: 13px;
    font-weight: 600;
    color: #777777;

}
.special-header div{
    font-size: 28px;
    color: #111111 ;
    font-weight: 900;
}
.special-header div span{
    color: #dc8cdb;
}
/*-----------------------------------------Header----------------------------------------*/
header{
    background-image: url(../images/header-bg.png);
    background-size: cover;
    margin-top: 10px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
}
header .container .links{
    width: 60%;
    position: relative;
}
header .container .links ul{
    display: flex;
    color: white;
    font-size: 14px;
    justify-content: space-between;
}
header .container .links ul li a{
    color: white;
}
header .container .links ul.hidden{
    display:none ;
    position: absolute;
    flex-direction: column;
    color: black;
    background-color: #F7F7F7;
    border-radius: 10px;
    right: 35%;
    top: 200%;
    
}
header .container .links ul.hidden li{
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
}
header .container .links ul.hidden li:last-child{
    border-radius: 10px;
}
header .container .links>ul li:nth-child(4):hover +ul.hidden{
display: flex;
}
header .container  i{
    display: none;
}

@media (max-width:767px){
header .container .links{
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    width: 95%;
    text-align: center;
    display: none;
}
header .container .links ul{
    flex-direction: column;
    top: 100%;
    background-color: #F7F7F7;
    width: 100%;
    border-radius: 10px

}
header .container .links ul li{
    padding: 15px 0
}
header .container .links ul li a{
    color: black;
    
}
header {
    background-image: none;
    background-image:var(--gradient--);
    margin-top: 0;
}
header .container i{
display: block;
color: white;
font-size: 30px;
margin-right: 20px;
}
header .container i:hover +.links{
    display: flex;
    
}
header .container i:hover +.links ul.hidden{
    display: flex;
    top: 180px;
    left: 0;
    width: 100%;
}
header .container .links ul li:nth-child(4){
    margin-bottom: 140px;
}

header .container .links ul.hidden li{
    padding: 15px 0;
    font-size: 14px;
    color: rgba(219,138,222,1);
    border: none;
}
header .container .links ul{
    flex-direction: column;
    top: 100%;
}}


/*-----------------------------------------Landing----------------------------------------*/
.landing{
    margin-top: var(--section-pad--);
}
.landing img.back{
    position: absolute;
    z-index: -1;
    bottom: -35%;
}
.landing img.back2{
    position: absolute;
    z-index: -1;
    right: -20px;
}

.landing .container{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.landing .container .image img{
    width: 420px;
    margin-right: 20px;
}
.landing .container .text{
width: 50%;
}
.landing .container .text h4{
    font-size: 17px;
    COLOR: #777777;
    font-weight: 500;
}
.landing .container .text .Heading{
    font-size: 62px;
    font-weight: 900;
    margin-bottom: 50px;
}
.landing .container .text .Heading span{
    font-style: normal;
    color: #dc8cdb;
}
.landing .container .text div.button{
    background: var(--gradient--);
    padding: 15px 30px;
    width: fit-content;
    border-radius: 5px;
    font-size: 14px;
}
.landing .container .text div a{
 text-decoration: none;
 color: white;   

}
@media (max-width:767px) {
    .landing .container{
        flex-direction: column;
        align-items: flex-start;
    }
    .landing .container .text{
        width: 100%;
        text-align: center;
    }
    .landing .container .image .back2{
        display: none;
    }
    .landing .container .text div.button{
        margin: 0 auto ;
    }
    .landing .container .image img{
        width: 100%;
        margin: 50px 0 0;
    }
    
}

/*-----------------------------------------services----------------------------------------*/
.services{
    padding-top: var(--section-pad--);
    margin-bottom: var(--section-pad--);
}
.services .container .services-c{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    text-align: center;
    gap: 30px;
    
}
.services .container .services-c .serv{
    padding: 50px 30px;
    border-radius: 20px;
    
}
.services .container .services-c .serv:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.services .container .services-c img{
    width: 75px;
}

.services .container .services-c h3{
font-size: 20px;
font-weight: 800;
color: #212529;
}
.services .container .services-c p{
    font-size: 14px;
    line-height: 1.8em;
    color: #4a4a4a;
}

@media (max-width:767px) {
    .services .container .services-c .serv{
        padding: 30px 30px;
    }
    
}

/*-----------------------------------------Learning----------------------------------------*/
.learning{
    padding-top: var(--section-pad--);
    padding-bottom: var(--section-pad--);
}
.learning .container{
    position: relative;

}
.learning .container .back{
    position: absolute;
    z-index: -1;
    top: -25%;
    opacity: 0.7;
}
.learning .container .back2{
    right: 0;
}
.learning .container .back1{
left: 0;
}
.learning .container .learning-c .sections{
    display: flex;
    justify-content: space-between;
}
.learning .container .learning-c .links{
    flex: 1;
}
.learning .container .learning-c .links ul{
    width: 70%;
}
.learning .container .learning-c .links ul li{
    border: 2px solid rgba(219,138,222,1);
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.learning .container .learning-c .links ul li:last-of-type{
    margin-bottom: 0;
}
.learning .container .learning-c .links ul li a{
    color: black;
    font-weight: 800;
    font-size: 20px;
}

.learning .container .learning-c .content{
    display: none;
    flex: 2;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
}
.learning .container .learning-c .content .description{
    flex: 2;
}
.learning .container .learning-c .content .description .text{
    width: 70%;
    margin-left: 50px;
}

.learning .container .learning-c .content .image{
    flex:1;
    position: relative;
}
.learning .container .learning-c .content .image div{
    position: absolute;
    background-image: var(--gradient--);
    color: white;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 3px;
    top: 10px;
    left: 10px;
}
.learning .container .learning-c .content .image img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.learning .container .learning-c .content .description h4{
    color: #111111;
    font-size: 20px;
    font-weight: 800;
    margin-bottom:25px ;
}
.learning .container .learning-c .content .description p{
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: 20px;
}
.learning .container .learning-c .content .description p span{
    color: blueviolet;
}
.learning .container .learning-c .content .description ul{
    display: flex;
}
.learning .container .learning-c .content .description ul li{
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    color: #212529;
    margin-bottom: 20px;
}.learning .container .learning-c .content .description ul li:first-of-type{
    padding-left: 0;
}
.learning .container .learning-c .content .description ul li:nth-child(2){
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.learning .container .learning-c .content .description a{
    font-size: 14px;
    color: #dc8cdb;
    font-weight: 500;
    text-decoration:underline;
}
@media (max-width:767px) {
    .learning{
        padding-top: 0;
    }
    .learning .container .learning-c .sections,
    .learning .container .learning-c .sections .content{
        flex-direction: column;
        align-items:center;
    }
    .learning .container .learning-c .sections .content .image img{
        width: 100%;
        text-align: center;
        border-radius: 10px;
    }
    .learning .container .learning-c .content .image{
        text-align: center;
        width: 99%;
    }
    .learning .container .learning-c .links ul{
        width: 100%;
    }
    .learning .container .learning-c .links{
        margin-bottom: 30px;
    }
    .learning .container .learning-c  .sections .description .text{
        margin: 0 0 10px;
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .learning .container .back{
        display: none;
    }

    
}

/*-----------------------------------------Prices----------------------------------------*/
.prices{
    padding-top: var(--section-pad--);
    padding-bottom: var(--section-pad--);
    background-image: url('../images/cta-bg.png');
    background-size: cover;
    padding-bottom:180px
}
.prices .container{
    display: flex;
    color: white;
    justify-content:center;
    align-items: center;
}
.prices .container .images{
    text-align: center;
    margin-right: 40px;
}

.prices .container .images img{
    width: 331px;
}
.prices .container .text{
    width: 500px;

}
.prices .container .text p{
    font-size: 17px;
    font-weight: 400;
}
.prices .container .text h3{
    font-size: 62px;
    font-weight: 900;
    color: #fff;
    line-height: 74px;
    margin-top: 20px;
    margin-bottom:20px
}
.prices .container .text div{
    padding: 15px 30px;
    margin-top: 40px;
    width: fit-content;
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
}
.prices .container .text div a{
    color: rgba(219,138,222,1);
    
}
@media (max-width:767px){
    .prices{
        background-size: cover;
    }
    .prices .container{
        flex-direction: column;
    }
    .prices .container .images{
        margin: 0;
    }
    .prices .container .text{
        text-align: center;
        width: 100%;
    }
    .prices .container .text div{
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
/*-----------------------------------------Prices----------------------------------------*/
.test{
    padding-top: var(--section-pad--);
    padding-bottom: 100px;
    position: relative;
}
@media (max-width:767px) {
    .test{
        padding-bottom: var(--section-pad--);
        padding-top: 0;
    }
}
.test .back{
    position: absolute;
    z-index: -1;
}
.test .left{
left: 0;
top: 0;
}
.test .right{
    right: 0;
    bottom: 0;
}
@media (max-width:767px) {
    .test .back{
        display: none;
    }
}
.test .container .test-c{
    display: grid;
    grid-template-columns: repeat(auto-fill,350px);
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
}
.test .container .opinion{
    position: relative;
    padding: 30px;
    border-radius: 20px;
}
.test .container .opinion p{
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    color: #4a4a4a;
    
}
.test .container .opinion h3{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 900;
    margin-bottom:0
    
}
.test .container .opinion span{
    font-size: 13px;
    font-weight: 700;
    color: #dc8cdb;
}
.test .container .opinion img{
    position: absolute;
    right: 30px;
    bottom: 20px
}

.test .container .opinion:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
}
/*-----------------------------------------contact----------------------------------------*/
.contact .back{
    position: absolute;
    z-index: -3;
}
.contact .container{
    display: flex;
    justify-content: center;
}
.contact .container .maps{
    flex: 1
}
.contact .container .maps iframe{
    width: 100%;
    /* height: 100%; */
    border-radius: 20px;
    z-index: -1;
    max-height: 418px;
}
.contact .container .maps .assist{
    display: inline-block;
    margin-left: 40px;
    margin-top: -20px;
    background: white;
    z-index: 1;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 20px;
}
.contact .container .maps .assist .inside{
    display: flex;
    align-items: center;

}
.contact .container .maps .assist .icone i{
    background: #dc8cdb;
    padding: 15px;
    color: white;
    border-radius: 50%;
}
.contact .container .maps .assist .inside .text h6{
    font-weight: 900px;
    font-size: 18px;
    
    margin: 0;
    margin-left: 20px;
}
.contact .container .maps .assist .inside .text p{
    font-size: 15px;
    color: #dc8cdb;
    font-weight: 700;
    margin: 0;
    margin-left: 20px;
}

.contact .container .maps .mapouter,
.contact .container .maps .mapouter .gmap_canvas{
    width: 100%;
    z-index: -1;
    max-height: 418px;
}
.contact .container .form{
    padding: 30px;
    width: 350px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 10px;
    margin-left: -5%;
    background-color: white;
    margin-top: 5%;
}
.contact .container .form .special-header{
    text-align: unset;
    margin-bottom: 50px;
}

.contact .container .form .forum{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact .container .form .forum input{
    outline: none;
    border: none;
    color: #7a7a7a;
    padding: 10px 20px;
    font-size: 13px;
    /* box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px; */
    /* width: 249px; */
    margin-bottom: 20px;
    background-color: #f4f7fb;
    border-radius: 5px;
}
.contact .container .form .forum input:nth-child(3){
    height: 150px;
}
.contact .container .form .forum input:nth-child(4){
background: var(--gradient--);
    padding: 15px 30px;
    width: fit-content;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    align-self: end;
}
@media (max-width:767px) {
    .contact{
        padding-bottom: var(--section-pad--);
    }
    .contact .container{
        flex-direction: column;
        align-items:center
    }
    .contact .container .form{
        margin-left: 0;
    }
    .contact .container .maps .assist{
        margin-left: 0;
        padding: 10px;
    }
    .contact .container .maps .assist .inside .text h6{
        font-size: 13px;
    }
    .contact .container .maps .assist .inside .text p{
        font-size: 13px;
    }
    
}
/*-----------------------------------------Footer----------------------------------------*/
.footer{
    padding-top: var(--section-pad--);
    padding-bottom: var(--section-pad--);
    position: relative;
   
}
.footer img{
    position: absolute;
    z-index: -1;
    bottom: 0px;
    width: 100%;
    height: 100vh;
}

.footer .container ul{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-bottom: 20px;
}
.footer .container ul li{
    height: 50px;
    justify-content: center;
    display: flex;
    margin-right: 20px;
    align-items: center;
    width: 50px;
    border-radius: 50%;
    background-color: white
}
.footer .container ul li a i{
    color: #dc8cdb
}
.footer .container p{
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    color: white;
}
@media (max-width:767px) {
    .footer img{
        display: none;
    }
    .footer{
        background-image: var(--gradient--);
    }
}